a {
  text-decoration: none;
  color: #072914;
}

/* unvisited link */
a:link {
  color: #033f1c;
}

/* visited link */
a:visited {
  color: rgb(11, 83, 105);
}

/* mouse over link */
a:hover {
  color: rgb(28, 4, 238);
}

/* selected link */
a:active {
  color: #072914;
}

/*Paragraf*/

.p2 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

.badan{
	height: 100%;
}

/* Heading*/
h3 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: bold;
}


/*bagian sidebar*/


.wrap .badan .sidebar{
	background:  #e7fff5  ;
	float: left;	
	width: 25%;
	height: 100%;
    {
        border-width:0px;  
        border-style:none;
        }
}

.wrap .badan .sidebar2{
	background:  #e7fff5  ;
	float: left;	
	width: 20%;
	height: 20%;
    {
        border-width:0px;  
        border-style:none;
        }
}



/*akhir sidebar*/


ul {
    margin: 0 0 0 0em;
    padding: 0; 
    } 
    
    .wrap .badan .content_utama{
        float: left;
        height: 95%;
        width: 75%;	
    }
    .wrap .badan .content1{
        background:   #ffffff ;
        float: left;
        height: 5%;
        width: 75%;
    }
    
    .wrap .footer{
        width: 100%;
        padding: 100px;
    }


    /*Tabel*/
    table {
        border-collapse: collapse;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 2px;
      }

      th {
          padding: 2px;
          text-align: left;
          background-color:  #109145 ;
          color: white
          }s

/*Footer*/
.wrap .footer{
	width: 100%;
    height: 20%;
	padding: 10px;
}
